#login-screen {
    background: radial-gradient(circle at center, #0a0e12 0%, #000 100%);
}
#tv-layout-grid {
    background-color: #1c2024;
}
input::placeholder {
    color: #374151;
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    background: #1c2024;
}
